
  * {
  text-decoration: none;
  }

  h2 {
  text-align: center; 
  position: relative;
  top: 20px;
  }
  
  p {
  text-align: center;
  color : #35902a;
  position: relative;
  left: 200px;
  top: 10px;
  }
  
 form { 
    height: auto;
    width : 40%;
    color: #224f1b;
    margin: 80px auto;
    margin-top: 0px;
    position: relative;
 }
    
  label {
    margin : 0px;
    margin-left: 50px;
  }  
  
  input {
  width: 80%;
  height: 35px;
  outline : none;
  color: #35802a;
  margin: auto 50px;
  font-size: 18px;
  }
  
   button {
    background-color: #224f1b;
    width: 82%;
    height: auto;
    color: #ffffff;
    margin: auto 50px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 10px;
    border: 0;
    outline: none;
    border-radius: 2px;
    }
   
  h2 a {
    color : #000000b5;
  }
  
  input[placeholder] {
  text-align: center;
  }
  
  .container {
  font-size: 18px;
  }
  
  .form-border{
   border: 6px inset #42643c;
   border-radius: 11px;
  }

  .img-container {
    background-color: #224f1b;
  }

  .avatar {
   width : auto;
   height: 200px;
   margin: auto 165px;
   border-radius: 50%;
  }
  
   .cancel-btn {
    background-color: #f00;
    width: 30%;
    height: auto;
    color: #ffffff;
    margin: auto 5px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 3px;
    }
    
    .forgot-password {
     position: absolute; 
     right: 15px;
     bottom: 5px;
     }
    
    input[type='checkbox'] {
    accent-color: #35802a;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -40px;
    }
  
    button:hover {
    opacity: 0.8;
   }
  
  /*on smaller screens
   
  @media screen only and (max-width: 375px){
      input {
        width: 80%;
        height: 35px;
        outline : none;
        color: #35802a;
        margin: auto 50px;
        font-size: 18px;
      }
      
      .avatar {
         width : auto;
         height: 250px;
         margin: auto 100px;
        }
    }

    */
